html,body{
    height: 100%;
    margin:0;
}
.container{
    /*background: blanchedalmond;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.heading{
    padding: 0 15px;
}
.body-container{
    display: flex;
    flex-grow: 1;
    /*background: salmon;*/
}
.bottom90 path{
    fill: red;
    /*stroke:red;
    stroke-width: 1px;*/
}
.top10 path{
    fill: blue;
    /*stroke:blue;
    stroke-width: 1px;*/
}
.series text{
    font-size: 1.2em;
    text-transform: uppercase;
    text-anchor: middle;
}