/* Coolors Exported Palette - coolors.co/f1e8b8-f9e784-e58f65-d05353-191919 */

/* HSL */
$color1: hsla(51%, 67%, 83%, 1);
$color2: hsla(51%, 91%, 75%, 1);
$color3: hsla(20%, 71%, 65%, 1);
$color4: hsla(0%, 57%, 57%, 1);
$color5: hsla(0%, 0%, 10%, 1);

/* RGB */
$color1: rgba(241, 232, 184, 1);
$color2: rgba(249, 231, 132, 1);
$color3: rgba(229, 143, 101, 1);
$color4: rgba(208, 83, 83, 1);
$color5: rgba(25, 25, 25, 1);