.card a{
    text-decoration: none;
    color: black;
}
.flex-2{
    flex-basis:12.5%;
}
.flex-fixed{
    flex-grow:0;
    flex-shrink:0;
}
.card{
    /*flex-basis: 12.5%; 
    flex-grow:0; 
    flex-shrink:0;*/
    padding:10px;
    height: 180px;
    overflow-x: hidden;
    overflow-y: hidden;
    border:1px solid lightGray;
}