html,body{
    height: 100%;
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    /*background: blanchedalmond;*/
    display: flex;
    flex-direction: column;
    height: 100%;
}
.heading{
    padding: 0 15px;
    background: #353A47;
    color:#F7C1BB;
}
.body-container{
    display: flex;
    flex-grow: 1;
    /*background: salmon;*/
}
ui-view, :host, .flex-container{
    display: flex;
    flex-grow:1;
}
#menu{
    flex-grow: 0; flex-shrink:0; flex-basis:250px; background: #353A47; color: #F7C1BB;
}
.menu-item{
    padding: 10px 15px 0;
}
.menu-item.highlight{
    border: 1px solid wheat;
}
.series path{
    stroke:blue;
    fill:none;
}
.target path{
    stroke:red;
    fill:none;
}
.area-plus{
    fill: salmon;
}
.plus.above, .minus.below{
    fill:#84B082;
}
.minus.above, .plus.below{
    fill:#885A5A;
}