body{
    font-family: 'Karla', sans-serif;
}
.axis .tick text{
    font-size:.8em;
}
.tick line{
    stroke:darkgray;
}
.domain{
    fill:transparent;
    stroke:darkgray;
}
.title{
    text-anchor: middle;
    font-size: 1.2em;
}
.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
.miniature{
    float: left;
    width: 150px;
    height: 150px;
    font-size: smaller;
    border: 1px solid darkgray;
    margin: 5px;
    padding: 5px;
}
.thumbnail{
    height:120px;
    background-size: cover;
    margin-top:5px;
}
svg{
    /*border: 1px solid darkgray;*/
    margin:5px;
}
#statistics{
    float:left;
    padding: 5px;
}
h1, h2{
    font-weight: normal;
    text-transform: uppercase;
}