body{
    background-color: #191919;
}
.main-title{
    /*text-align: center;*/
    /*background: lightgray;*/
    padding: 15px;
    height:150px;
}
.main-title h1{
    color: rgba(241, 232, 184, 1);
}
.series path{
    fill:none;
    stroke: gray;
}
svg{
    /*background-color: red;*/
    border: 1px solid darkgray;
}
.legend-item text{
    font-size:11px;
}
.background-rect{
    opacity: 0.4;
}
.picture{
    width: 150px;
    height: 150px;
    margin-right: 30px;
    background-image: url('assets/sm.jpg');
    background-size: cover;
    border-radius: 50%;
}